# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock
.DS_Store

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/
packages/flutter_midi/ios/Classes/sound_font.SF2
*.SF2
*.SF2
packages/flutter_midi/example/ios/sound_font.SF2
packages/flutter_midi/example/ios/sound_font.SF2
