[submodule "packages/fb_auth"]
	path = packages/fb_auth
	url = git@github.com:rodydavis/fb_auth.git
[submodule "packages/dynamic_tabs"]
	url = git@github.com:rodydavis/dynamic_tabs.git
	path = packages/dynamic_tabs
[submodule "packages/floating_search_bar"]
	path = packages/floating_search_bar
	url = git@github.com:rodydavis/floating_search_bar.git
[submodule "packages/flutter_midi"]
	path = packages/flutter_midi
	url = git@github.com:rodydavis/flutter_midi.git
[submodule "packages/mobile_popup"]
	path = packages/mobile_popup
	url = git@github.com:rodydavis/mobile_popup.git
[submodule "packages/mobile_sidebar"]
	path = packages/mobile_sidebar
	url = git@github.com:rodydavis/mobile_sidebar.git
[submodule "packages/sheet_music"]
	path = packages/sheet_music
	url = git@github.com:rodydavis/sheet_music.git
[submodule "packages/fb_firestore"]
	path = packages/fb_firestore
	url = git@github.com:rodydavis/fb_firestore.git
[submodule "packages/fb_storage"]
	path = packages/fb_storage
	url = git@github.com:rodydavis/fb_storage.git
[submodule "community/persist_theme"]
	path = community/persist_theme
	url = git@github.com:fluttercommunity/persist_theme.git
[submodule "packages/easy_web_view"]
	path = packages/easy_web_view
	url = git@github.com:rodydavis/easy_web_view.git
[submodule "packages/easy_google_maps"]
	path = packages/easy_google_maps
	url = git@github.com:rodydavis/easy_google_maps.git
[submodule "community/flutter_whatsnew"]
	path = community/flutter_whatsnew
	url = git@github.com:fluttercommunity/flutter_whatsnew.git
[submodule "community/app_review"]
	path = community/app_review
	url = git@github.com:fluttercommunity/app_review.git
[submodule "community/get_version"]
	path = community/get_version
	url = git@github.com:fluttercommunity/get_version.git
[submodule "community/flutter_sms"]
	path = community/flutter_sms
	url = git@github.com:fluttercommunity/flutter_sms.git
[submodule "community/responsive_scaffold"]
	path = community/responsive_scaffold
	url = git@github.com:fluttercommunity/responsive_scaffold.git
[submodule "community/breakpoint"]
	path = community/breakpoint
	url = git@github.com:fluttercommunity/breakpoint.git
[submodule "packages/data_tables"]
	path = packages/data_tables
	url = git@github.com:rodydavis/data_tables.git
[submodule "packages/cupertino_controllers"]
	path = packages/cupertino_controllers
	url = git@github.com:rodydavis/cupertino_controllers.git
[submodule "packages/dart_firebase"]
	path = packages/dart_firebase
	url = git@github.com:rodydavis/dart_firebase.git

