[submodule "packages/fb_auth"]
	path = packages/fb_auth
	url = git@github.com:rodydavis/fb_auth.git
[submodule "packages/dynamic_tabs"]
	url = git@github.com:rodydavis/dynamic_tabs.git
	path = packages/dynamic_tabs
[submodule "packages/floating_search_bar"]
	path = packages/floating_search_bar
	url = git@github.com:rodydavis/floating_search_bar.git
[submodule "packages/flutter_midi"]
	path = packages/flutter_midi
	url = git@github.com:rodydavis/flutter_midi.git
[submodule "packages/mobile_popup"]
	path = packages/mobile_popup
	url = https://github.com/rodydavis/mobile_popup
[submodule "packages/mobile_sidebar"]
	path = packages/mobile_sidebar
	url = git@github.com:rodydavis/mobile_sidebar.git
[submodule "packages/sheet_music"]
	path = packages/sheet_music
	url = git@github.com:rodydavis/sheet_music.git
[submodule "packages/fb_firestore"]
	path = packages/fb_firestore
	url = git@github.com:rodydavis/fb_firestore.git
[submodule "packages/fb_storage"]
	path = packages/fb_storage
	url = git@github.com:rodydavis/fb_storage.git
[submodule "packages/persist_theme"]
	path = packages/persist_theme
	url = git@github.com:fluttercommunity/persist_theme.git
[submodule "packages/easy_web_view"]
	path = packages/easy_web_view
	url = git@github.com:rodydavis/easy_web_view.git
[submodule "packages/easy_google_maps"]
	path = packages/easy_google_maps
	url = git@github.com:rodydavis/easy_google_maps.git
[submodule "packages/flutter_whatsnew"]
	path = packages/flutter_whatsnew
	url = git@github.com:fluttercommunity/flutter_whatsnew.git
[submodule "packages/app_review"]
	path = packages/app_review
	url = git@github.com:fluttercommunity/app_review.git
[submodule "packages/get_version"]
	path = packages/get_version
	url = git@github.com:fluttercommunity/get_version.git
[submodule "packages/flutter_sms"]
	path = packages/flutter_sms
	url = git@github.com:fluttercommunity/flutter_sms.git
[submodule "packages/responsive_scaffold"]
	path = packages/responsive_scaffold
	url = git@github.com:fluttercommunity/responsive_scaffold.git
[submodule "packages/breakpoint"]
	path = packages/breakpoint
	url = git@github.com:fluttercommunity/breakpoint.git
[submodule "packages/data_tables"]
	path = packages/data_tables
	url = git@github.com:rodydavis/data_tables.git
[submodule "packages/cupertino_controllers"]
	path = packages/cupertino_controllers
	url = git@github.com:rodydavis/cupertino_controllers.git
[submodule "packages/dart_firebase"]
	path = packages/dart_firebase
	url = git@github.com:rodydavis/dart_firebase.git
[submodule "packages/native_widgets"]
	path = packages/native_widgets
	url = git@github.com:fluttercommunity/native_widgets.git
[submodule "packages/navigation_rail"]
	path = packages/navigation_rail
	url = git@github.com:rodydavis/navigation_rail.git
[submodule "packages/undo"]
	path = packages/undo
	url = https://github.com/rodydavis/undo
[submodule "packages/scaffold_tab_bar"]
	path = packages/scaffold_tab_bar
	url = https://github.com/rodydavis/scaffold_tab_bar
[submodule "packages/file_access"]
	path = packages/file_access
	url = https://github.com/rodydavis/file_access
[submodule "packages/storyboard"]
	path = packages/storyboard
	url = https://github.com/rodydavis/storyboard
[submodule "packages/golden_layout"]
	path = packages/golden_layout
	url = https://github.com/rodydavis/golden_layout
[submodule "packages/native_color_picker"]
	path = packages/native_color_picker
	url = https://github.com/rodydavis/native_color_picker
[submodule "packages/features"]
	path = packages/features
	url = https://github.com/rodydavis/features
[submodule "packages/image_resizer"]
	path = packages/image_resizer
	url = https://github.com/rodydavis/image_resizer
[submodule "packages/settings_manager"]
	path = packages/settings_manager
	url = https://github.com/rodydavis/settings_manager
[submodule "packages/project_gen"]
	path = packages/project_gen
	url = https://github.com/rodydavis/project_gen
[submodule "packages/flutter_cli"]
	path = packages/flutter_cli
	url = https://github.com/rodydavis/flutter_cli
[submodule "packages/flutter_wasm_interop"]
	path = packages/flutter_wasm_interop
	url = https://github.com/rodydavis/flutter_wasm_interop
[submodule "packages/flutter_dynamic_widget"]
	path = packages/flutter_dynamic_widget
	url = https://github.com/rodydavis/flutter_dynamic_widget
[submodule "packages/widget_gen"]
	path = packages/widget_gen
	url = https://github.com/rodydavis/widget_gen
[submodule "packages/flutter_ast"]
	path = packages/flutter_ast
	url = https://github.com/rodydavis/flutter_ast
[submodule "packages/flutter_multi_window"]
	path = packages/flutter_multi_window
	url = https://github.com/rodydavis/flutter_multi_window
[submodule "packages/flutter_data_view"]
	path = packages/flutter_data_view
	url = https://github.com/rodydavis/flutter_data_view
[submodule "packages/flutter_vibrate"]
	path = packages/flutter_vibrate
	url = https://github.com/rodydavis/flutter_vibrate
