<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561515444898-8eeqkmhu3cku8iqlmrb9jlvdnp9ge1aa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561515444898-8eeqkmhu3cku8iqlmrb9jlvdnp9ge1aa</string>
	<key>API_KEY</key>
	<string>AIzaSyB_J16NbJ5WFLq6gQw7woUmMQyTkd2TsE8</string>
	<key>GCM_SENDER_ID</key>
	<string>561515444898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ampstor.ampstorEditor</string>
	<key>PROJECT_ID</key>
	<string>ampstor</string>
	<key>STORAGE_BUCKET</key>
	<string>ampstor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561515444898:ios:7af7a4d6d39f35392db5fb</string>
	<key>DATABASE_URL</key>
	<string>https://ampstor.firebaseio.com</string>
</dict>
</plist>